@import "../../scss/variables";

.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  padding: 2rem;
  justify-content: flex-start;
  align-items: center;

  .card {
    width: 300px;
    background-color: yellow;
    border-radius: 76% 24% 73% 27% / 39% 68% 32% 61%;
    padding: 7px;
    margin: 10px;
    text-align: center;
    .orange {
      color: orange;
    }
  }
}
