@import "../../scss/variables";

.container {
  .card {
    width: 300px;
    background-color: yellow;
    border-radius: 76% 24% 73% 27% / 39% 68% 32% 61%;
    padding: 7px;
    margin: 10px;
    text-align: center;
    .orange {
      color: orange;
    }
  }
}
