.degree {
  border-radius: 5px;
  padding: 0.7rem;
  font-weight: bold;
  /* background-color: cornflowerblue; */
  font-size: 2rem;
}

.degree.lightblue {
  color: lightblue;
}
.degree.yellow {
  color: yellow;
}

.degree.orange {
  color: #f57f17;
}

.degree.red {
  color: red;
}
