/* Color Theme Swatches in Hex */
$Young-Land-1: #732d3f;
$Young-Land-2: #5a6473;
$Young-Land-3: #2f3840;
$Young-Land-4: #aeb7bf;
$Young-Land-5: #d2d6d9;

/* Color Theme Swatches in Hex */
$Yaban-Hayatı-1: #b0c1d9;
$Yaban-Hayatı-2: #3b4b59;
$Yaban-Hayatı-3: #8ea8bf;
$Yaban-Hayatı-4: #d9bfa9;
$Yaban-Hayatı-5: #0d0d0d;
